<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/header') %>

        <main>
            <h2>404 - Page Not Found</h2>
            <p>Sorry, the page you were looking for doesn't exist.</p>
        </main>

        <%- include('partials/footer') %>
</body>

</html>