<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/technical/head') %>
</head>

<body>
    <%- include('../components/default/header') %>


        <script src="/helperMethods.js"></script>

        <%- include('../components/technical/bootstrapAndTracking') %>
</body>

</html>